<p>user-list works!</p>
<a routerLink="/user-master">Add User</a>
<table>
  <th>ID</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <th>Actions</th>

  <tr *ngFor="let user of this.users">
    <td>{{ user?.id }}</td>
    <td>{{ user?.first_name }}</td>
    <td>{{ user?.last_name }}</td>
    <td>{{ user?.email }}</td>
    <td>
      <span><a routerLink="/user-master/{{user?.id}}">Edit</a></span>
      <button (click)="deleteUser(user.id)">Delete</button>
    </td>
  </tr>
</table>
